html {
  font-size: 20px;
  line-height: 1rem;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  text-align: left;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Header {
  padding: 8px 12px;
  border-bottom: 1px solid grey;
}

main {
  background-color: lightgrey;
  min-height: calc(100% - 96px);
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: wrap;
}

.Month {
  background-color: white;
  padding: 12px;
  min-width: 288px;
  max-width: 375px;
  min-height: 375px;
  margin: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Month p {
  width: 100%;
}

.Day {
  box-sizing: border-box;
  padding: 4px;
  background-color: lightgrey;
  min-width: 20px;
  width: 7%;
  height: 24%;
  font-size: 12px;
  margin: 4px;
  flex-grow: 1;
}

.Day:hover {
  background-color: red;
}

.Day:active {
  background-color: blue;
}

footer {
  display: none;
  background-color: blue;
  padding: 8px 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
